fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-multipart
loguru
python-dotenv

# Database
sqlalchemy
psycopg2-binary
asyncpg
greenlet
aiosqlite
alembic
redis

# Security
python-jose[cryptography]
passlib[bcrypt]

# AI / Agents
langgraph
langchain-core
langchain-openai
langchain-anthropic
pytesseract
pypdf

# Storage
boto3

# Testing
pytest
pytest-asyncio
httpx